.loginpage{
    height: 650px;
    background-color: black;
    width:600px;
    background-image: url("https://ii1.pepperfry.com/assets/9bfb3473-d5c6-419e-9ada-b531eb3cae29.jpg");
    background-position: center;
    background-size: cover;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.stack{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}



.login-input{
   width: 300px;
   height: 30px;
   border: 1px solid grey;
   border-radius:10px ;
   background-color: rgba(0, 0, 0, 0.5);
   color: grey;
   margin-bottom: 15px;
   
}
.login-button{
    color: white;
    height: 40px;
    border: none;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    font-weight: bold;
}



