.navbar{
    background-color: black;
    font-family: sans-serif;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}

.navbar-logo{
  margin-left: 50px;
}
nav>ul{
    
    display: flex;
    color:black;
    
    gap: 50px;
    
}
li{
    list-style-type: none;
}
/* navbar-router{
    color:white;
} */

.search-box{
    display: flex;
    align-items: center;
    background: #242424e1;
    padding: 10px;
    margin-left: -30px;
    border-radius: 50px;
  }

  .search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
  }

  .search-box input::placeholder {
    color: #fff;
  }

  .search-box img {
    width: 20px;
    cursor: pointer;
  }

  .navbar-icons{
    margin-right: 100px;
    display: flex;
    gap:50px
  }

  