.navbar{
    background-color: black;
    font-family: sans-serif;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}

.navbar-logo{
  margin-left: 50px;
}
nav>ul{
    
    display: flex;
    color:black;
    
    gap: 50px;
    
}
li{
    list-style-type: none;
}
/* navbar-router{
    color:white;
} */



  .navbar-icons{
    margin-right: 100px;
    display: flex;
    gap:50px
  }

  