.signup-page{
    height: 700px;
    background-color: black;
    width:400px;
    background-image: url("https://ii1.pepperfry.com/assets/9bfb3473-d5c6-419e-9ada-b531eb3cae29.jpg");
    background-position: center;
    background-size: cover;
    margin-left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}
.stack{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-family: sans-serif;
}

.signup-input{
    width: 300px;
   height: 30px;
   border: 1px solid grey;
   border-radius:10px ;
   background-color: rgba(0, 0, 0, 0.5);
   color: grey;
   margin-bottom: 10px;
   font-family: sans-serif;
   
}
.signup-button{
    color: white;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    font-weight: bold;
}

